@model MustacheEnt.ViewModel.HomeViewModel
<div id="body">
    <h1><span>@Model.AboutFieldsList.Title</span></h1>
    <div>
        <img src="~/@Model.AboutFieldsList.PicSrc" alt="">
        <div class="article">
            <h3>@Model.AboutFieldsList.Header1</h3>
            <p>@Model.AboutFieldsList.Decr1</p>
            <h3>@Model.AboutFieldsList.Header2</h3>
            <p>@Model.AboutFieldsList.Decr2</p>
            <h3>@Model.AboutFieldsList.Header3</h3>
            <p>@Model.AboutFieldsList.Decr3</p>
            <h3>@Model.AboutFieldsList.Header4</h3>
            <p>@Model.AboutFieldsList.Decr4</p>
        </div>
    </div>
</div>